body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.Valute {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    font-family: Arial, sans-serif;
}
